
body{
  background-color: rgb(176, 176, 176);
}
header{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
  }

  .formulario{
 margin-left: 600px;
 margin-top: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #bformulario{
   margin-left: 100px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }
   